<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style/board.css">
        <title>문의 게시판</title>
    </head>
    <body>
        <div class="head">
            <h2>예제 게시판!!</h2>
            <p>CRUD 예제 익명 게시판 입니다용!</p>
        </div>
        
        <div class="content">
            <table border='1'>
                <colgroup>
                    <col width='60'><col width='400'><col width='60'><col width='100'>
                </colgroup>
                <thead>
                    <tr>
                        <th>순번</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                    </tr>
                </thead>
                
                    <tbody id = "list">
                        
                        <% for(i = 0; i < list.length; i++) { %>
                            <tr>
                                <td name ="order"><%=i+1 %></td>
                                <td><a href="/read/<%=list[i].number %>"><%=list[i].title %></a></td>
                                <td name = "name"><%=list[i].name%></td>
                                <td><%=list[i].date%> </td>
                            </tr>
                        <% } %>
                    </tbody>
                   
            </table boader='1'>
            
          <button id="btn_write" onclick="location.href='../write'">글쓰기</button>
        </div>
        
        <script src="/js/board.js"></script>
    </body>
</html>