<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style/board.css">
        <title>문의 게시판</title>

    </head>
    <body>
        <div class="head">
            <h2>예제 게시판!!</h2>
            <p>CRUD 예제 익명 게시판 입니다용!</p>
        </div>

        <div class="content">
            <table border='1' id="list">
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 50%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>순번</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                    </tr>
                </thead>

                <tbody >

                    <% for(i = 0; i < list.length; i++) { %>
                        <tr>
                            <td name="order"><%=i+1 %></td>
                            <td>
                                <a href="/read/<%=list[i].id %>"><%=list[i].title %></a>
                            </td>
                            <td name="name"><%=list[i].writer%></td>
                            <td><%=list[i].date%>
                            </td>
                        </tr>
                    <% } %>
                </tbody>

            </table boader='1'>

            <button id="btn_write" onclick="location.href='../write'">글쓰기</button>
        </div>

        <script src="/js/board.js"></script>
    </body>
</html>